<link rel="stylesheet" href="stylesheets/streetcams.css" type="text/css" />

<div id="contents">
  <h2>Abbey Road Camera</h2>

    <a class="button" id="rewind" href="#"><img src="images/rewind.jpeg" alt="Rewind" height="84" width="84" /></a>
    <a class="button" id="play" href="#"><img src="images/play.jpg" alt="Play" height="84" width="84" /></a>
    <a class="button" id="pause" href="#"><img src="images/pause.jpg" alt="Pause" height="84" width="84" /></a>
    <a class="button" id="ff" href="#"><img src="images/ff.jpeg" alt="FF" height="84" width="84" /></a>
</div>

<%= include_jsplasma %>
<script src="javascript/streetcams.js"></script>
