<!DOCTYPE html>
<html>
<head>
	<title>Vernon Building Society</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../stylesheets/buildsoc.css">
	<script src="../javascript/jquery-2.1.3.min.js"></script>
	<script src="../javascript/buildsoc.js"></script>
</head>
<body>
	<div class="header">
		<h1>THE MUTUAL VISION BUILDING SOCIETY GUIDE 2015</h1>
	</div>
	<div class="container">
		<div class="title">
			<img src="../images/vernon.png" id="logo">
			<div class="text-box">
				<h2>VERNON BUILDING SOCIETY</h2>
				<p>19 St Petersgate<br>
				   Stockport, Cheshire SK1 1HF<br>
				   Tel: (0161) 429 6262<br>
				   Website: www.thevernon.co.uk<br>
				   Chief Executive: Michael Hanson<br>
				   7 Branches</p>
			</div>
		</div>
		<div class="table">
			<table>
				<tr class="purple">
					<td style="text-align: left;">YEAR ENDED<br>31 DECEMBER</td>
					<td>GROUP<br>2010</td>
					<td>GROUP<br>2011</td>
					<td>GROUP<br>2012</td>
					<td>GROUP<br>2013</td>
					<td style="background:#DCDDDF;">SOCIETY<br>2014</td>
					<td>GROUP<br>2014</td>
				</tr>
				<tr>
					<td style="text-align: left;"class="purple">TOTAL ASSETS (&pound;'000')</td>
					<td>247,080</td>
					<td>250,904</td>
					<td>267,815</td>
					<td>273,231</td>
					<td style="background:#DCDDDF;">287,627</td>
					<td>287,618</td>
				</tr>
				<tr>
					<td style="text-align: left;"class="purple">PROFIT/(LOSS)<br>AFTER TAX (£‘000)</td>
					<td>932</td>
					<td>719</td>
					<td>628</td>
					<td>566</td>
					<td style="background:#DCDDDF;">566</td>
					<td>566</td>
				</tr>
				<tr>
					<td style="text-align: left;"class="purple">PROFIT/(LOSS)<br>AFTER TAX AS A % OF MEAN TOTAL ASSETS (%)</td>
					<td>0.38</td>
					<td>0.29</td>
					<td>0.24</td>
					<td>0.21</td>
					<td style="background:#DCDDDF;">0.20</td>
					<td>0.20</td>
				</tr>
				<tr>
					<td style="text-align: left;"class="purple">MANAGEMENT<br>EXPENSES AS A % OF MEAN TOTAL ASSETS (%)</td>
					<td>1.12</td>
					<td>1.15</td>
					<td>1.16</td>
					<td>1.15</td>
					<td style="background:#DCDDDF;">1.20</td>
					<td>1.20</td>
				</tr>
				<tr>
					<td style="text-align: left;"class="purple">COST/INCOME<br>RATIO (%)</td>
					<td>77.67</td>
					<td>74.43</td>
					<td>79.07</td>
					<td>79.95</td>
					<td style="background:#DCDDDF;">74.19</td>
					<td>74.19</td>
				</tr>
				<tr>
					<td style="text-align: left;"class="purple">LIQUID ASSETS (%)</td>
					<td>26.12</td>
					<td>24.72</td>
					<td>26.03</td>
					<td>24.67</td>
					<td style="background:#DCDDDF;">23.31</td>
					<td>23.31</td>
				</tr>
				<tr>
					<td style="text-align: left;"class="purple">FREE CAPITAL INCLUDING<br>SUPPLEMENTARY<br>CAPITAL (%)</td>
					<td>6.46</td>
					<td>6.73</td>
					<td>6.56</td>
					<td>6.68</td>
					<td style="background:#DCDDDF;">6.55</td>
					<td>6.57</td>
				</tr>
				<tr>
					<td style="text-align: left;"class="purple">SUPPLEMENTARY<br>CAPITAL AS A % OF<br>FREE CAPITAL (%)</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td style="background:#DCDDDF;">-</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="text-align: left;"class="purple">DEPOSITS (%)</td>
					<td>11.83</td>
					<td>14.28</td>
					<td>14.61</td>
					<td>11.24</td>
					<td style="background:#DCDDDF;">12.37</td>
					<td>12.37</td>
				</tr>
				<tr>
					<td style="text-align: left;"class="purple">DEPOSITS<br>INCREASE/(DECREASE)<br>OVER YEAR<br>(£‘000)</td>
					<td>(974)</td>
					<td>6,026</td>
					<td>3,154</td>
					<td>(7,823)</td>
					<td style="background:#DCDDDF;">4,568</td>
					<td>4,568</td>
				</tr>
				<tr>
					<td style="text-align: left;"class="purple">LOANS FULLY SECURED ON<br>RESIDENTIAL<br>PROPERTY (%)</td>
					<td>91.59</td>
					<td>92.59</td>
					<td>3,154</td>
					<td>93.76</td>
					<td style="background:#DCDDDF;">93.47</td>
					<td>93.47</td>
				</tr>
			</table>
		</div>
		<div id="footer"></div>
	</div>
</body>
</html>