<!DOCTYPE html>
<html lang="en">
<head>
	<title>Customers Legend</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/legend.css">
	<script src="../javascript/jquery-2.1.3.min.js"></script>
	<script src="../javascript/legend.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>CUSTOMERS</h1>
		</div>
		<div class="box">
			<img src="../images/boy.png" />
			<img src="../images/girl.png" />
			<p>0 - 16</p>
			<div style="clear:both"></div>
		</div>
		<div class="box">
			<img src="../images/teen-boy.png" />
			<img src="../images/teen-girl.png" />
			<p>16 - 25</p>
			<div style="clear:both"></div>
		</div>
		<div class="box">
			<img src="../images/man.png" />
			<img src="../images/woman.png" />
			<p>25 - 55</p>
			<div style="clear:both"></div>
		</div>
		<div class="box">
			<img src="../images/old-man.png" />
			<img src="../images/old-woman.png" />
			<p>55+</p>
			<div style="clear:both"></div>
		</div>
		<div class="box">
			<img style="margin-left: 35px;" src="../images/business.png" />
			<p style="margin-left: 25px;">Business Owner</p>
			<div style="clear:both"></div>
		</div>
		<div class="footer">
			&nbsp;
		</div>
	</div>
</body>
</html>