<!DOCTYPE html>
<html lang="en">
<head>
	<title>LTV Legend</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/legend.css">
	<script src="../javascript/jquery-2.1.3.min.js"></script>
	<script src="../javascript/legend.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>LTV / Stress Test</h1>
		</div>
		<div class="box">
			<table class="ltv">
				<tr>
					<td>
						<table class="ltv_norm">
							<tr><td><p>100%</p></td><td class="_100 grade">&nbsp;</td></tr>
							<tr><td></td><td class="_90 grade">&nbsp;</td></tr>
							<tr><td></td><td class="_80 grade">&nbsp;</td></tr>
							<tr><td></td><td class="_70 grade">&nbsp;</td></tr>
							<tr><td></td><td class="_60 grade">&nbsp;</td></tr>
							<tr><td></td><td class="_50 grade">&nbsp;</td></tr>
							<tr><td></td><td class="_40 grade">&nbsp;</td></tr>
							<tr><td></td><td class="_30 grade">&nbsp;</td></tr>
							<tr><td></td><td class="_20 grade">&nbsp;</td></tr>
							<tr><td><p>0%</p></td><td class="_10 grade">&nbsp;</td></tr>
						</table>
					</td>
					<td><div class="ltv_icon"><img src="../images/ltv.png" /></div></td>
					<td>
						<table class="ltv_stress">
							<tr><td class="_100 grade">&nbsp;</td><td><p>140%+</p></td></tr>
							<tr><td class="_90 grade">&nbsp;</td><td></td></tr>
							<tr><td class="_80 grade">&nbsp;</td><td></td></tr>
							<tr><td class="_70 grade">&nbsp;</td><td></td></tr>
							<tr><td class="_60 grade">&nbsp;</td><td></td></tr>
							<tr><td class="_50 grade">&nbsp;</td><td></td></tr>
							<tr><td class="_40 grade">&nbsp;</td><td></td></tr>
							<tr><td class="_30 grade">&nbsp;</td><td></td></tr>
							<tr><td class="_20 grade">&nbsp;</td><td></td></tr>
							<tr><td class="_10 grade">&nbsp;</td><td><p>40%</p></td></tr>
						</table>
					</td>
				</tr>
				<tr class="desc">
					<td><p class="leanRight">Current</p></td>
					<td></td>
					<td><p>40% Impact</p></td>
				</tr>
			</table>			
			</div>

		<div class="footer">
			&nbsp;
		</div>
	</div>
</body>
</html>