<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vernon Details</title>
	<script src="../javascript/jquery-2.1.3.min.js"></script>
	<style>

		.fullscreenDiv {
		    width: 100%;
		    height: auto;
		    bottom: 0px;
		    top: 0px;
		    left: 0;
		    position: absolute;
		}
		.center {
		    position: absolute;
		    border: 10px solid blue;
		    width: 100%;
		    height: 50px;
		    top: 50%;
		    left: 50%;
		}

	</style>
</head>
<body>
	<div class="container">
		<div class='fullscreenDiv'>
		    <div class="center">Vernon Building Society</div>
		    <img src="../images/vernon.jpg"/>
		    
		</div>​
	</div>
</body>
</html>