<!DOCTYPE html>
<html lang="en">
<head>
	<title>Introduction</title>
	<link rel='stylesheet' type='text/css' href="../stylesheets/RobotoCondensed.css">
	<link rel="stylesheet" type="text/css" href="../bootstrap-3.3.2-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/intro.css">
	<script src="../javascript/jquery-2.1.3.min.js"></script>
	<script src="../javascript/intro.js"></script>
</head>
<body>


	   <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
      	<div>
			<h1 class="titleText">Welcome to the <span class='emphasis'>Mutual Vision Conduce Demonstrator</span></h1>
		</div>
		<div class="center-block" id="step1">
			<p>Lets take a quick tour...</p>			
		</div>
		<div id="step2">
			<p>All our data is mocked. Here are a few statistics: -</p>

			<p> - 8 Branches
				<img src="../images/building-icon.png" />
			</p>
			<p> - 44 Building Societies
				<img src="../images/buildsoc-icon.png" />
			</p>
			<p> - 64 Introducers
				<img src="../images/introducer-icon.png" />
			</p>
			<p> - 2520 Loans
				<img src="../images/coinstack1-10.png" />
				<img src="../images/coinstack7-2.png" />
				<img src="../images/coinstack7-8.png" />
				<img src="../images/coinstack5-10.png" />
				<img src="../images/coinstack10-10.png" />
			</p>
			<p> - 21,971 Customers
				<img src="../images/boy.png" />
				<img src="../images/girl.png" />
				<img src="../images/teen-boy.png" />
				<img src="../images/teen-girl.png" />
				<img src="../images/man.png" />
				<img src="../images/woman.png" />
				<img src="../images/old-man.png" />
				<img src="../images/old-woman.png" />
				<img src="../images/business.png" />
			</p>
	
		</div>
		<div id="step3">
			<p>We can <span class='emphasis'>analyse</span> data sets to <span class='emphasis'>visualise</span> behaviour, enabling better decision making</p>
			<p><img src="../images/customers.png" /></p>
			<p>Use <span class='emphasis'>lenses</span> to see your data differently</p>

		</div>
		<div id="step4">
			<p>Perform <span class='emphasis'>Impact Analysis</span> and <span class='emphasis'>Stress Testings</span> on your data</p>
			<p><img src="../images/heatmap.png" /></p>
			
		</div>
		<div id="step5">
			<p>Construct your scenerios for your business needs...</p>
			<p> - What loans are at risk if LTV changes?</p>
			<p> - Where are my good customers?  Who needs help?</p>
			<p> - Where should I focus my next product launch?</p>
		</div>
		<div id="step6">
			<p>The LaunchPad can be used to load predefined layouts, navigate to points of interest and run scenerios</p>
			<img src="../images/devices.png" />
		</div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
			<p>To use the <span class='emphasis'>LaunchPad</span> navigate to <span class='emphasis'>http://&lt;conduceHost&gt;/launchpad/</span></p>
      </div>
    </div>
</body>
</html>