<!DOCTYPE html>
<html lang="en">
<head>
	<title>Loans Legend</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/legend.css">
	<script src="../javascript/jquery-2.1.3.min.js"></script>
	<script src="../javascript/legend.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>LOANS</h1>
		</div>
		<div class="box">
			<img class="coin" src="../images/coinstack7-2.png" />
			<p>20% Repaid</p>
			<div style="clear:both"></div>
			<img class="coin" src="../images/coinstack7-8.png" />
			<p>80% Repaid</p>
			<div style="clear:both"></div>
		</div>

		<div class="box">
			<table class="centerMe">
				<tr>
					<td><div><img class="coin" src="../images/coinstack1-10.png" /></div></td><td><div><img class="coin" src="../images/coinstack5-10.png" /></div></td><td><div><img class="coin" src="../images/coinstack10-10.png" /></div></td>
				</tr>
				<tr><td><p>Small</p></td><td><p>Medium</p></td><td><p>Large</p></td></tr>
			</table>			
		</div>
		<div class="footer">
			&nbsp;
		</div>
	</div>
</body>
</html>