<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ratings Legend</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/legend.css">
	<script src="../javascript/jquery-2.1.3.min.js"></script>
	<script src="../javascript/legend.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>RATINGS</h1>
		</div>
		<div class="box">
		<table class="ratings">
				<tr>
					<td><div class="rating1 ring"><img src="../images/man.png" /></div></td>
					<td><div class="rating2 ring"><img src="../images/man.png" /></div></td>
					<td><div class="rating3 ring"><img src="../images/man.png" /></div></td>
					<td><div class="rating4 ring"><img src="../images/man.png" /></div></td>
					<td><div class="rating5 ring"><img src="../images/man.png" /></div></td>
					<td><div class="rating6 ring"><img src="../images/man.png" /></div></td>
				</tr>
				<tr>
					<td colspan="6"><p>Good Rating &lang; <span class="rating1">&bull;</span> <span class="rating2">&bull;</span>  <span class="rating3">&bull;</span>  <span class="rating4">&bull;</span>  <span class="rating5">&bull;</span>  <span class="rating6">&bull;</span>  &rang; Bad Rating</p></td>
				</tr>
			</table>			
			</div>

		<div class="footer">
			&nbsp;
		</div>
	</div>
</body>
</html>