extends layout
block headcontent
	script(src="/javascripts/autoload.js")
block content
	div.container-fluid
		div.row
			div.col-sm-6
				h2.tagsheader Number of Records Added
				div.col-md-12
					h1#numRecords 0
				div.col-md-12
					h3#nextMaxId Next Max Id: 