extends layout
block headcontent
	script(src="/javascripts/sigma.min.js")
	script(src="/javascripts/sigma.parsers.json.min.js")
	script(src="/javascripts/steganography.js")
	script(src="/javascripts/user.js")
block content
	div.container-fluid
		div.row
			div.col-sm-3
				div.row
					div.col-sm-12#profilebackground
						div.row
							div.col-sm-12
								div.userimagecontainer
									img#userimage
						div.row
							div.col-sm-12
								div#username
						div.row
							div.col-sm-12
								div#screenname user
								div#location location
				div.row
					div.col-md-12.infocolleft
						h3#tweets 53
						h3.infotitle tweets
					div.col-md-12.infocolmiddle
						h3#followers 53
						h3.infotitle followers
					div.col-md-12.infocolright
						h3#following 53
						h3.infotitle following
			div.col-sm-9
				div.row
					div.col-sm-12.tweetcontainer
						div.row
							div.col-sm-12 
								span#tweetuser user 
								span#tweetscreenname @screenname . 
								span#tweetdate date
						div.row
							div.col-sm-12#tweet This is the main twett
				div.row
					div.col-sm-12
						h2 Friends by Contribution
						div#container
	input#tweetid(type='hidden', value=id)
