extends layout

block content
	div.container-fluid
		div.col-md-12
			div.row
				div.col-md-12#profilebackground
					div.col-md-4
						img#userimage
					div.col-md-8
						div#userinfo
							table#userList
								tbody
			div.row
				div.col-md-12
					div#container
	input(value=id, type=hidden)
