doctype html
html
	head
		title= title
		
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')

		script(src="/javascripts/date.js")
		script(src="/javascripts/jquery.min.js")
		script(src='/javascripts/bootstrap.js')

		block headcontent

	body
		block content
