extends layout
block headcontent
	link(rel='stylesheet', href='/stylesheets/jqcloud.min.css')

	script(src="/javascripts/tags.js")
	script(src="/javascripts/jqcloud.min.js")
block content
	div.container-fluid
		div.row
			div.col-sm-6
				h2.tagsheader Hash Tags By Prominance
				div.col-sm-12
					div.keywordsContainer
						div.jqcloud#keywords
			div.col-sm-6
				h2.tagsheader Keywords By Prominance
				div.col-sm-12
					div.keywordsContainer
						div.jqcloud#keywords2